.invoice-card {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  text-align: center;
}

.btn-grp {
  position: absolute;
  top: 90%;
  width: 60%;
  left: 45%;
}

@media (max-width: 420px) {
  .btn-grp {
    left: 25%;
  }
}
